body{
    background-color: black;
}
nav{
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    margin-right: 2%;
    word-spacing: 40px;
}

.navegacao {
    text-decoration: none;
    color: red;
    
}

h1{
    color: red;
    padding-left: 10px;
}
h3 {
    padding-left: 10px;
    float: left;
    color: bisque;
   
    
}
p {
    font-family: cursive;
    font-size: 38px;
    color: rgb(240, 102, 121);
    padding-left: 10px;
}
.titulo {
    width: 100%;
    box-shadow: 2px 2px 3px 3px white;
}

.img {
    width: 50px;
}
.image {
    float: left;
    width: 40%;
    height: 50%;
    padding-right: 10px;
}
.image2 {
    width: 100px;
}

footer {
    float: left;
    text-align: right;
    
}

a {
    text-decoration: none;
    color: rgb(243, 165, 21);
}
.marvel{
    float: left;
    width: 100px;
    height: 170px;
}
